.fondo {
    background: #323743 !important;
}

.bg-primary {
    background-color: #707cd2 !important;
}

.btn-success {
    background-color: #707cd2 !important;
    border: none;
}

table th {
    min-width: 120px;
}

.matriz {
    max-height: 500px;
}

select {
    text-align-last: center;
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    color: #f3f3f3;
    background: #555;
    background-size: 29px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: pointer;
}

footer {
    /*position: fixed;*/
    height: 100px;
    bottom: 0;
    width: 100%;
    margin-top: 3%;
}

.negrita {
    font-weight: bold;
}

.title {
    border: none;
    background: transparent;
}

.table td,
.table th {
    vertical-align: middle !important;
}